body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    background: hsla(197, 100%, 63%, 1);
  
  background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    text-align: center;
    height: 20rem;
    width: 40rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .background>h1{
    font-size: 2rem;
  }
  .wrapper{
    background: hsla(197, 100%, 63%, 1);
  
  background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
  height: 10rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .Areaofinput{
    height: 2rem;
    width: 15rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    
  }
  .submitWork{
    margin-top: .5rem;
    height: 2rem;
    width: 10rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
  }